.tableBooking{
    text-align: center;
    font-size: 15px;
    color:rgb(6, 44, 58);
    font-family:Arial, Helvetica, sans-serif;
    margin-left:10%;
    margin-top: 30px;
    background-color: rgba(185, 231, 246, 0.858);
    border-radius: 4px;

  }
  .tableBooking a{
    text-decoration: none;
  }
  .status-button{
 display: inline-block;
 border-radius: 10px;
 border: 4px double #000000;
 color: #000000;
 text-align: center;
 font-size: 15px;
 padding: 2px;
 width: 150px;
 height: 40px;
 

}