.backgroundHomePage{
    background-image: url(../web-project/homePage.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 800px;
    background-origin: border-box;
    background-position-y: 0%;
  }


  h1.menu{
    position: absolute;
    top: 0%;  
    left:3%;
  }
  .homePage{
    position: absolute;
    top: 40%;  
    left:50%;
    color: #062454;
     text-align: center;
     font-size: 20px;
     padding: 2px;
     width: 150px;
     height: 40px;
      }
 
 
  
  
  .navig{
    margin : 0;
    padding: 3px;
  }
  
  .ul-style{
    text-indent: 7%;
      list-style: none;
      background-color: white;
  height: 45px;
  align-items:center;
  
 
  }

  nav ul li{
    display:inline;

      Line-height:20px; 
  
  }
  nav ul li a{
    text-decoration:none;
    color:#5f5c5c;
    font-size:  15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding:1%;
  }
  nav ul li a:hover{
    color:blue;
  } 
  

  
  .details-buttonn{
    display: inline-block;
       background-color:  rgb(196, 232, 243);
       border-radius: 10px;
       border: 4px double #000000;
       color: #000000;
       text-align: center;
       font-size: 15px;
       padding: 2px;
       width: 150px;
       height: 40px}
  
  .details-button:hover{
   background-color: rgb(135, 145, 159);  }
  
  
  
 